* {
  box-sizing: border-box;
  font-size: 100;
  font-family: "Times New Roman", Times, serif;
}

.display-nothing {
  display: none;
}

body {
  background: linear-gradient(#e66465, #9198e5);
  background-attachment: fixed;
}

/* border: 5px solid black;
display: flex;
flex-direction: column;
margin: auto;
width: 550px; */
